/*font-family: 'Philosopher', sans-serif;
font-family: 'Merriweather Sans', sans-serif;*/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 34px;
  color: white;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p {
  font-family: 'Merriweather Sans', sans-serif;*/
  font-size: 14px;
  font-weight: 300;
  color: white;
}

.container {
  margin: 0 auto;
}

.topBar {
  background-color: #424242;
  width: 100%;
  height: 10px;
}

.hero {
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-image: url('img/hero.gif');
}

.logo {
  color: #3299BB;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  height: 100px;
}

.tagLine {
  color: #3299BB;
  text-align: center;
  height: 100px;
}

.menuBar.sticky {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-image: url('img/hero.gif');
  z-index: 999;
}

.logo.sticky {
  top: 0;
  text-align: left;
  font-size: 35px;
  line-height: 75px;
  height: 75px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 20px solid rgba(0,0,0,0.0);
}

.tagLine.sticky {
  top: 0;
  height: 75px;
  line-height: 55px;
}

.navigation.sticky {
  top: 0;
}

.sticky {
  transition: all 1s ease;
}

.navigation {
  text-align: center;
  height: 75px;
}

.navButton {
  padding: 0 14px 0 14px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 75px;
  height: 100%;
  display: inline-block;
}

.projectHome {
  width: 100%;
  margin-bottom: 2%;
}

.col {
  margin-left: 2%;
  width: 600px;
}

.project {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #373f4b;
  border-top: 1px rgba(255,255,255, 0.1) solid;
  border-bottom: 1px #1f252a solid;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.project:nth-child(even) {
  background-color: #303843;
}

.projectIMG {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  perspective: 50em;
}

.rightIMG img {
  transition: .3s;
  width: 70%;
  transform: rotateY(-20deg);
  box-shadow: 6px 6px 20px 10px rgba(0,0,0,.1);
}

.rightIMG img:hover {
  transition: .3s;
  transform: rotateY(0);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,.1);
}

.leftIMG img {
  transition: .3s;
  width: 70%;
  transform: rotateY(20deg);
  box-shadow: -6px 6px 20px 10px rgba(0,0,0,.1);
}

.leftIMG img:hover {
  transition: .3s;
  transform: rotateY(0);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,.1);
}

.moreProjects {
  text-align: center;
  margin-bottom: 2%;
}

.blogPost {
  margin: 0 auto;
  margin-bottom: 2%;
  background-color: grey;
  width: 35%;
  height: 15%;
}

.morePosts {
  text-align: center;
  margin-bottom: 2%;
}

.button {
  margin-top: 2%;
  height: 50px;
  width: 200px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.button:hover {
  color: white;
  background-color: rgba(31,37,42,0.1);
}

.white {
  color: white;
  /*border: 1px white solid;*/
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.gray {
  color: #303843;
  border: 1px solid rgba(48, 56, 67, 0.5);
}

.gray:hover {
  transition: .3s;
  color: white;
  background-color: #303843;
}

.bottomLinks {
  margin: 0 auto;
  margin-bottom: 2%;
  background-color: orange;
  width: 30%;
  height: 75px;
}

.footer {
  background-color: #303843;;
  width: 100%;
  height: 75px;
}

.hidden {
  visibility: hidden;
}
